<!--Logback configuration, loaded by Spring-->
<configuration>
    <!--Defining appenders-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PACKET_DELIVERY_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME:-${USERPROFILE}}/packet-delivery-system/logs/web/packet-delivery-service.log</file>
        <encoder>
            <pattern>%d{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME:-${USERPROFILE}}/packet-delivery-system/logs/web/all.log</file>
        <encoder>
            <pattern>%d{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEV_PACKET_DELIVERY_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME:-${USERPROFILE}}/packet-delivery-system/logs/web/dev-packet-delivery-service.log</file>
        <encoder>
            <pattern>%d{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEV_ALL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME:-${USERPROFILE}}/packet-delivery-system/logs/web/dev-all.log</file>
        <encoder>
            <pattern>%d{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_PACKET_DELIVERY_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME:-${USERPROFILE}}/packet-delivery-system/logs/web/debug-packet-delivery-service.log</file>
        <encoder>
            <pattern>%d{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_ALL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME:-${USERPROFILE}}/packet-delivery-system/logs/web/debug-all.log</file>
        <encoder>
            <pattern>%d{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Define loggers for profile "production"-->
    <springProfile name="production">
        <root level="WARN">
            <appender-ref ref="ALL_FILE" />
            <appender-ref ref="STDOUT" />
        </root>

        <logger name="be.rdhaese.packetdelivery.web.service.logging" level="INFO">
            <appender-ref ref="PACKET_DELIVERY_FILE" />
        </logger>

        <logger name="org.springframework" level="WARN" />

        <logger name="org.thymeleaf" level="WARN" />
    </springProfile>

    <!--Define loggers for profile "dev"-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="DEV_ALL_FILE" />
            <appender-ref ref="STDOUT" />
        </root>

        <logger name="be.rdhaese.packetdelivery.web.service.logging" level="INFO">
            <appender-ref ref="DEV_PACKET_DELIVERY_FILE" />
        </logger>

        <logger name="org.springframework" level="INFO" />

        <logger name="org.thymeleaf" level="WARN" />
    </springProfile>

    <!--Define loggers for profile "debug"-->
    <springProfile name="debug">
        <root level="DEBUG">
            <appender-ref ref="DEBUG_ALL_FILE" />
            <appender-ref ref="STDOUT" />
        </root>

        <logger name="be.rdhaese.packetdelivery.web.service.logging" level="DEBUG">
            <appender-ref ref="DEBUG_PACKET_DELIVERY_FILE" />
        </logger>

        <logger name="org.springframework" level="DEBUG" />

        <logger name="org.thymeleaf" level="DEBUG" />
    </springProfile>
</configuration>