<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<form th:object="${longLat}">
<input type="hidden" th:field="*{longitude}" />
<input type="hidden" th:field="*{latitude}" />
</form>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAayrG0GhNdnp_HZ8SawVvWvAsJSalbeig"></script>
<script th:src="@{/js/maps_contact.js}"></script>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="centerdiv">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                            <div th:if="!${contactInformation.companyName}" class="alert alert-danger errormessage" role="alert" th:text="#{contact.errorMessage}">error message
                            </div>

                            <div th:if="${contactInformation.companyName}">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 th:text="#{contact.title}">Contact Information</h3>
                                    <div class="panel-body googleMap" id="google-map"></div>
                                    <div class="panel-footer">

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="panel panel-default" id="address">
                                                        <img th:src="@{/images/icon-address.png}" class="icon"/>
                                                        <div class="panel-heading white-background white-border"><h4 th:text="#{contact.address}">Address</h4>
                                                            <div class="panel-body">
                                                                <span th:text="${contactInformation.street}"/>
                                                                <span th:text="${contactInformation.number}"/>
                                                                <span th:if="!${#strings.isEmpty(contactInformation.mailbox)}">- <span th:text="#{contact.address.box}">box</span> <span th:text="${contactInformation.mailbox}"/></span><br/>
                                                                <span th:text="${contactInformation.postalCode}"/> <span th:text="${contactInformation.city}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="panel panel-default" id="phone">
                                                        <img th:src="@{/images/icon-phone.png}" class="icon"/>
                                                        <div class="panel-heading white-background white-border"><h4 th:text="#{contact.phone}">Phone</h4>
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <thead>
                                                                    <th th:text="#{contact.phone.title}">Title</th>
                                                                    <th th:text="#{contact.phone.number}">Number</th>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="phoneNumber : ${contactInformation.phoneNumbers}">
                                                                        <td th:text="${phoneNumber.key}">title</td>
                                                                        <td th:text="${phoneNumber.value}">number</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="panel panel-default" id="fax">
                                                        <img th:src="@{/images/icon-fax.png}" class="icon"/>
                                                        <div class="panel-heading white-background white-border"><h4 th:text="#{contact.fax}">Fax</h4>
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <thead>
                                                                    <th th:text="#{contact.fax.title}">Title</th>
                                                                    <th th:text="#{contact.fax.number}">Number</th>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="faxNumber : ${contactInformation.faxNumbers}">
                                                                        <td th:text="${faxNumber.key}">title</td>
                                                                        <td th:text="${faxNumber.value}">number</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="panel panel-default" id="email">
                                                        <img th:src="@{/images/icon-email.png}" class="icon"/>
                                                        <div class="panel-heading white-background white-border"><h4 th:text="#{contact.email}">E-Mail</h4>
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <thead>
                                                                    <th th:text="#{contact.email.title}">Title</th>
                                                                    <th th:text="#{contact.email.address}">Address</th>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="emailAddress : ${contactInformation.emailAddresses}">
                                                                        <td th:text="${emailAddress.key}">title</td>
                                                                        <td><a th:href="'mailto:' + ${emailAddress.value}" th:text="${emailAddress.value}">address</a></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <img th:src="@{/images/icon-about.png}" class="icon"/>
                                                        <div class="panel-heading white-background" id="about"><h4 th:text="#{contact.about}">About</h4>
                                                            <div class="panel-body">
                                                                <pre th:text="${contactInformation.aboutText}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
<script type="text/javascript">
    $(document).ready(function() {
        var phoneHeight = $('#phone').height();
        var addressHeight = $('#address').height();
        if (phoneHeight > addressHeight) {
            $('#address').css({'height': phoneHeight});
        } else {
            $('#phone').css({'height': addressHeight});
        }

        var emailHeight = $('#email').height();
        var faxHeight = $('#fax').height();
        if (emailHeight > faxHeight) {
            $('#fax').css({'height': emailHeight});
        } else {
            $('#email').css({'height': faxHeight});
        }
    });
</script>
</body>
</html>
