<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <h1 th:text="#{error.oops}">Oops, something went wrong...</h1>

            <blockquote><span th:text="#{error.sorry}">We are sorry, but your request could not be handled.</span><br />
                <span th:text="#{error.mail.part1}">Please</span> <a href="mailto:support@packetdelivery.com" th:text="#{error.mail.part2}">mail</a> <span th:text="#{error.mail.part3}">us the details below of the error if this problem persists.</span>
            </blockquote>

            <p th:if="${timestamp}" id='created'>
                <b th:text="#{error.occurred}">Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
            </p>

            <p th:if="${status}">
                <b th:text="#{error.status}">Response Status:</b> <span th:text="${status}">status-code</span> <span
                    th:if="${error}" th:text="'('+${error}+')'">error ...</span>
            </p>
        </div>
    </div>

    <hr/>
</div>
</body>
</html>
