<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/fragments :: head"></head>
<body>
<script type="text/javascript" th:inline="javascript" th:if="${companyAddress != null}">
    var APP_CONTEXT = {
        companyAddress: /*[[${companyAddress}]]*/,
        packetAddress: /*[[${packetAddress}]]*/,
        locationUpdates: /*[[${locationUpdates}]]*/,
        msgs: {
            locationUpdateDateTimeFormat: /*[[#{map.dateTimeFormat}]]*/,
            companyDepot: /*[[#{map.companyDepot}]]*/,
            lastKnownLocation: /*[[#{map.lastKnownLocation}]]*/,
            packetDestination: /*[[#{map.packetDestination}]]*/,
            directionsError:/*[[#{map.directionsError}]]*/
        }
    };
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAayrG0GhNdnp_HZ8SawVvWvAsJSalbeig"></script>
<script th:src="@{/js/date_format.js}"></script>
<script th:src="@{/js/maps_index.js}"></script>
<div th:replace="fragments/fragments :: header"></div>
<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="centerdiv">
                <div th:if="${error}" class="alert alert-danger errorMessage" role="alert"
                     th:text="#{index.errorMessage}">error message
                </div>
                <div th:if="${session.packet == null}" class="enter-id">
                    <form method="get" th:action="@{/}">
                        <div class="panel panel-default">
                            <div class="panel-heading"><label for="packetId"><p th:text="#{index.enterId}">Enter Packet
                                ID</p></label></div>
                            <div class="panel-body centered-text">
                                <input type="text" id="packetId" name="packetId" class="form-control"/>
                                <input type="submit" class="btn btn-primary form-control"
                                       th:value="#{index.button.track}"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div th:if="${session.packet != null}">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3><span th:text="#{index.locationUpdates.title}">Location Updates</span>
                                            <small><span
                                                    th:text="#{index.locationUpdates.title.small}">For Packet</span>:
                                                <span th:text="${session.packet}"/></small>
                                        </h3>
                                    </div>
                                    <div class="col-md-3" style="text-align: right;">
                                        <a th:href="@{/clear-packet}" class="btn btn-primary" role="button"
                                           style="margin-top: 10px;"
                                           th:text="#{index.locationUpdates.trackOtherPacket}">Track
                                            Other
                                            Packet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body googleMap" id="google-map"></div>
                        <div class="panel-footer" style="font-size: 10px;">
                            <div class="container-fluid" style="text-align: center">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img th:src="@{/images/map/packet-address.png}"/><span
                                            th:text="#{index.locationUpdates.legend.deliveryAddress}">Delivery address</span>
                                    </div>
                                    <div class="col-md-3">
                                        <img
                                                th:src="@{/images/map/current-position.png}"/><span
                                            th:text="#{index.locationUpdates.legend.lastKnownLocation}">Courier's last known location</span>
                                    </div>
                                    <div class="col-md-3">
                                        <img
                                                th:src="@{/images/map/location-update.png}"/><span
                                            th:text="#{index.locationUpdates.legend.locationUpdate}">Location update</span>
                                    </div>
                                    <div class="col-md-3">
                                        <img
                                                th:src="@{/images/map/company-depot.png}"/><span
                                            th:text="#{index.locationUpdates.legend.companyDepot}">Company Depot</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="row">
                                    <div class="col-md-4 route-data">
                                        <span th:text="#{index.locationUpdates.footer.packetsLeft}"/>: <span th:text="${amountOfPackets}"/>
                                    </div>
                                    <div class="col-md-4 route-data">
                                        <span th:text="#{index.locationUpdates.footer.timeLeft}"/>: <span
                                            id="timeLeft"></span>
                                    </div>
                                    <div class="col-md-4 route-data">
                                        <span th:text="#{index.locationUpdates.footer.distanceLeft}"/>: <span
                                            id="distanceLeft"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <small th:text="#{index.locationUpdates.footer.disclaimer}">The data displayed
                                            are estimates.
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="panel panel-default" th:if="${!remarks.isEmpty()}">
                        <div class="panel-heading">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3><span th:text="#{index.remarks.title}">Remarks</span>
                                            <small th:text="${remarks.size()}">number</small>
                                        </h3>
                                    </div>
                                    <div class="col-md-6" style="text-align: right;">
                                        <button data-toggle="collapse" data-target="#remarks-body"
                                                style="margin-top: 10px;"
                                                class="btn btn-primary" id="remarks-toggle"><span
                                                class="show-toggle">&#x25BC;</span> <span
                                                th:text="#{index.remarks.button.show}">Show</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="remarks-body" class="collapse">
                            <div class="panel-body" th:text="#{index.remarks.following}">The courier added following
                                remarks:
                            </div>
                            <table class="table table-striped" style="width: 100%">
                                <thead>
                                <th th:text="#{index.remarks.timeAdded}">Time Added</th>
                                <th th:text="#{index.remarks.description}">Description</th>
                                </thead>
                                <tbody>
                                <tr th:each="remark : ${remarks}">
                                    <td th:text="${#dates.format(remark.timeAdded, #messages.msg('app.dateTimeFormat'))}">
                                        time added
                                    </td>
                                    <td th:text="${remark.description}">description</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
<script type="text/javascript" th:inline="javascript">

    $("#remarks-body").on("shown.bs.collapse", function () {
        $('#remarks-toggle').html('<span class="hide-toggle">&#x25B2;</span>'.concat(/*[[#{index.remarks.button.hide}]]*/));
        window.scrollTo(0, document.body.scrollHeight);
    });

    $("#remarks-body").on("hidden.bs.collapse", function () {
        $('#remarks-toggle').html('<span class="show-toggle">&#x25BC;</span>'.concat(/*[[#{index.remarks.button.show}]]*/));
    });
</script>
</body>
</html>
